<ng-container *ngIf="vm$ | async as vm">
  
  <div>

      <div>
        <div>
          {{
            vm.products.data?.length
              ? 'Puedes volver a buscar productos:'
              : 'Oops, no se han encontrado resultados. Puedes volver a hacer una búsqueda:'
          }}
        </div>

        <br>

        <div>
          <ps-searchbar [(ngModel)]="searchText" (doSearch)="searchProducts()"></ps-searchbar>
        </div>

        <br>

        <div *ngIf="vm.availableCategoriesForFilter?.data; let categories">
          <div *ngIf="categories?.length">
            <select [(ngModel)]="selectedCategoryIdForFilter">
              <option [ngValue]="undefined">
                Seleccionar categoría
              </option>
              <option *ngFor="let category of categories" [ngValue]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <ng-container *ngIf="vm.products?.data?.length">
        <p>Productos:</p>
        <div *ngFor="let product of vm.products?.data">
          {{ product.id }} {{ product.title }}
          <a [routerLink]="'/productos/' + product.id">Ver producto</a>
        </div>
      </ng-container>
  </div>

</ng-container>
